<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vg.mybatis.app.dao.mapper.SysUserMapper">

    <select id="getById" resultType="com.vg.mybatis.app.dao.model.SysUserModel">
        select * from sys_user where id = #{id}
    </select>

    <insert id="insertUser">
        insert into sys_user (id, dept_id, user_name, age)
        values (#{user.id}, #{user.deptId}, #{user.userName}, #{user.age})
    </insert>
    
    <update id = "updateUserNoVersion">
        update sys_user set
                user_name = #{user.userName},
                age = #{user.age},
                dept_id = #{user.deptId}
        where id = #{user.id}
    </update>

    <update id = "updateUserWhitVersion">
        update sys_user set
                user_name = #{user.userName},
                age = #{user.age},
                dept_id = #{user.deptId},
                version = #{user.version}
        where id = #{user.id}
    </update>

</mapper>